<mat-card>
    <mat-card-title>Provas</mat-card-title>
    <mat-card-subtitle>Semana 20/09/2021 a 24/09/2021</mat-card-subtitle>
    <mat-card-content>
        <mat-list>
            <p>Segunda: Português</p>
            <mat-list-item>Capítulo 3 e 4</mat-list-item>
            <mat-divider></mat-divider>
            <p>Terça Matemática</p>
            <mat-list-item>Capitulo 8, 9 e 10</mat-list-item>
            <mat-divider></mat-divider>
            <p>Quarta: Geografia</p>
            <mat-list-item>Estudar o caderno e Livro Capítulo 3</mat-list-item>
            <mat-divider></mat-divider>
            <p>Quinta: Science</p>
            <mat-list-item>Estudar a apostila</mat-list-item>
            <mat-divider></mat-divider>
            <p>Sexta: E.S.L</p>
            <mat-list-item>Prova Oral e Escrita</mat-list-item>
            <mat-list-item>WorkBook Unit 5 and 6</mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>