
<div *ngIf="serie"> 
     
                <div class="container">
                      <h2 [style.color]="serie.color">Hello {{serie.text | uppercase }}</h2>
                </div>
            
                <mat-tab-group mat-align-tabs="center">
                        <mat-tab label="Link para Aula">https://explore.zoom.us/</mat-tab>
                        <mat-tab label="Horários">tabela com os horários</mat-tab>
                        <mat-tab label="Comunicados">Comunicados gerais</mat-tab>
                </mat-tab-group>
         <!-- <div class="container" >
                <a routerLink="/link" routerLinkActive="selected"> <button mat-raised-button color="warn">Link Para a Aula</button></a><br>
                <a routerLink="/horarios"><button mat-raised-button color="warn">Horários/Aulas</button></a><br>
                <a routerLink="/comunicados"><button mat-raised-button color="warn">Comunicados</button></a><br>
                <a routerLink="/mensagem"><button mat-raised-button color="warn">Mensagens</button></a><br>
        </div> -->
</div>


