.container {
    display: flex;
    justify-content: center;
    align-items: center;
   

     
 }   

 button {
     margin: 20px;
 }
 
 .selected {
    font-weight: bold;
}

.mat-tab-label .mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}