.container {
   display: flex;
    justify-content: center;
    align-items: center;
    
}     

button {
    margin: 20px;
    width: 160px;
    height: 70px;
    color: honeydew;
 
}

.studentImg {
    width: 13%;
}

mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
}



